@using online_commercial_automation.Models.Siniflar
@model List<Cariler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<table class="table table-striped">
    <tr>
        <th>Cari ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Sehir</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Guncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.CariID</td>
            <td>@x.CariAd</td>
            <td>@x.CariSoyad</td>
            <td>@x.CariSehir</td>
            <td>@x.CariMail</td>
            <td><a href="/Cari/CariSil/@x.CariID" class="btn btn-danger">Sil</a></td>
            <td><a href="#" class="btn btn-warning">Guncelle</a></td>
            <td><a href="#" class="btn btn-default" style="background-color : lightcoral">Satis Gecmisi</a></td>
        </tr>
    }
</table>
<a href="/Cari/YeniCari" class="btn btn-info">Yeni Cari Ekle</a>

