@using online_commercial_automation.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "MusteriSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cari Adi : @ViewBag.cari</li>
</ol>
<table class="table table-condensed">
    <tr>
        <th>Satis Id</th>
        <th>Urun</th>
        <th>Personel</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdir</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.SatisID</td>
            <td>@x.Urun.UrunAD</td>
            <td>@x.Personel.PersonelAD @x.Personel.PersonelSoyad</td>
            <td>@x.Adet</td>
            <td>@x.ToplamTutar</td>
            <td>@x.Tarih</td>
            <td><a href="#" class="btn btn-default" style="background-color:dodgerblue">Yazdir</a></td>
        </tr>
    }

</table>
