@using online_commercial_automation.Models.Siniflar;
@model List<SatisHareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table id="tbl1" class="table table-bordered" style="margin-top:20px">
    <thead>
        <tr>
            <th>ID</th>
            <th>URUN</th>
            <th>CARI</th>
            <th>PERSONEL</th>
            <th>ADET</th>
            <th>FIYAT</th>
            <th>TOPLAM</th>
            <th>TARIH</th>
            <th>GUNCELLE</th>
            <th>DETAYLAR</th>
        </tr>
    </thead>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.SatisID</td>
            <td>@k.Urun.UrunAD</td>
            <td>@k.Carilers.CariAd @k.Carilers.CariSoyad</td>
            <td>@k.Personel.PersonelAD @k.Personel.PersonelSoyad</td>
            <td>@k.Adet</td>
            <td>@k.Fiyat</td>
            <td>@k.ToplamTutar</td>
            <td>@k.Tarih</td>
            <td><a href="/Satis/SatisGetir/@k.SatisID" class="btn btn-warning">Guncelle</a></td>
            <td><a href="/Satis/SatisDetay/@k.SatisID" class="btn btn-success" style="background-color:lightcoral; color:white;">Detaylar</a></td>
        </tr>
    }

</table>

<a href="/Satis/YeniSatis" class="btn btn-info">Yeni Satis Yap</a>

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>

<script>
    $(tbl1).dataTable({});
</script>