@model online_commercial_automation.Models.Siniflar.personel
@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<head>
    Cari Guncelleme Ekrani
</head>
<br />
@using (Html.BeginForm("PersonelGuncelle", "Personel", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.PersonelID)
        @Html.LabelFor(x => x.PersonelAD)
        @Html.TextBoxFor(x => x.PersonelAD, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.PersonelSoyad)
        @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.PersonelGorsel)
        @Html.TextBoxFor(x => x.PersonelGorsel, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Departman)
        @Html.DropDownListFor(x => x.Departmanid, (List <SelectListItem>)ViewBag.dgr1 , new { @class = "form-control" });
        <br />
        <button class="btn btn-default" style="background-color:yellowgreen">Guncelle</button>
    </div>
}